.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.wrapper{
    display: flex;
    gap: 3em;
}

.left{
    font-weight: bolder;
    display: flex;
    max-width: fit-content;
    flex-direction: column;
    align-items:flex-end;
    min-width: 60vw;
    position: relative;
}

.right{
    display: flex;
    flex-direction: column;
    font-size: 2em;
    gap: 1em;
    width: 100%;
    width: 30vw;

}

//center
.center{
    position: absolute;
    right: -5.5%;
    top: 0;
    z-index: -10;
    height: 10vh;
    width: 7%;
}
#bimage{
    max-width:100%;
    max-height:100%;
    object-fit:contain;
}

// left

.title{
    font-size: 7em;
    width: max-content;
    color: #c71585;
    text-align: right;
    font-family: 'Raleway', sans-serif;
}

.caption{
    font-size: 1.5em;
    font-weight: lighter;    
    padding: 1em;
    text-align: right;
    max-width: 30em;
}

a{
    color: mediumvioletred;
    font-weight: normal;
    text-decoration: none;
}
a:hover{
    color: palevioletred;
}

// right

label{
    font-weight: bold;
    display: flex;
    width: max-content;
}

.mobileinline{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

input{
    background-color: transparent;
    padding: .5em;
    border-radius: 15px;
    width: 50%;
    font-size: .8em;
}

input:focus{
	border-color: mediumvioletred;
    background-color: mediumvioletred;
    color: white;
	outline: 0;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px inset;
}

input.ierror{
    border-color: red;
}

.error{
    color: red;
    font-size: .5em;
}

.tag{
    background-color: transparent;
    padding: .5em;
    border-radius: 15px;
    width: fit-content;
    font-size: .5em;
    border-style: solid;
    width: 1em;
    text-align: center; 
    font-weight: 700;

}

.tag:hover{
    background-color: mediumvioletred;
    color: white;
    border-color: transparent;
    cursor: pointer;
}

.tag.selected{
    background-color: mediumvioletred;
    color: white;
    border-style: solid;
    border-color: mediumvioletred;
}

.tag.dis{
    pointer-events: none;
    background-color: grey;
    border-color: grey;
}

.tagcontainer{
    display: flex;
    flex-wrap: wrap;
    gap: .2em;
    max-width: 100%;
}

.plus rect {
    cursor: pointer;
    transition: all 800ms;
    transform: scaleY(1);
    transform-origin: 50% 50%;
}
  
.plus.minus .vertical-line {
    transform: scaleY(0);
}

.plusdisabled{
    pointer-events: none;
    fill: grey;
}

.inline{
    display: flex;
    justify-content: start;
    gap: 1em;
}


button{
    background-color: mediumvioletred;
    color: rgb(255, 241, 224);
    padding: .5em;
    padding-inline: 1em;
    font-weight: 900;
    font-size: .8em;
    border: none;
    border-style: solid;
    border-color: rgb(255, 241, 224);
    cursor: pointer;

}

button:hover{
    background-color: rgb(255, 241, 224);
    color: mediumvioletred;
    border-style: solid;
    border-color: mediumvioletred;
}

button.dis{
    pointer-events: none;
    background-color: grey;
}

@media (max-width: 2000px) {
    .title{
        font-size: 5.5em;
    }
    .right{
        font-size: 1.5em;
    }
}

@media (max-width: 1100px) {
    .wrapper{
        flex-direction: column;
        align-items: center;
        }
    .caption{
        display: none;
    }
    .title{
        font-size: 4em;
    }
    .right{
        width: 100%;
        font-size: 1.5em;
    }
    .mobileinline{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0em;
    }
    .formgroup{
        width: 100%;
    }
    input{
        width: 70%;
    }
    .inline{
        justify-content: center;
    }
    .center{
        right: auto;
        left: 0px;
        width: 20%;
        top: 60px
    }
}

@media (max-width: 690px){
    .title{
        font-size: 2em;
    }
    .right{
        font-size: medium;
        width: 100%;
    }
    .wrapper{
        gap: 1em;
    }
    .center{
        right: auto;
        left: 0px;
        width: 20%;
        top: 30px
    }
}

