<div class="main">
    cocktail: <p *ngFor="let cocktail of (cocktails$ | async)">cocktail: {{cocktail.name}}</p>
    <!-- <p *ngFor="let cocktail of (cocktails$ | async)">cocktail: {{cocktail.name}}</p> -->
    <div class="wrapper">
        <div class="left">
            <div class="title">
                THE ULTIMATE<br />
                APERITIVO<br />
                APP!
            </div>
            <div class="caption">
                You can search for exclusive ready-made cocktails by full-name or letter, or you can get details for
                particular ingredients of your interest. This website is based on the open API
                <a href="{{'https://www.thecocktaildb.com/'}}">thecocktaildb</a> which provides
                free high quality data to use.
            </div>
        </div>
        <form class="right" [formGroup]="formdata" (ngSubmit)="onSubmit()">
            <div class="mobileinline">
                <div class="formgroup">
                    <label for="cname">Cocktail Name: </label>
                    <input autocomplete="off" id="cname" type="text" formControlName="cocktailname"
                        (focus)="disable('cocktailname')" (blur)="enable('cocktailname')"
                        [ngClass]="showerror==='cocktailname' ? 'ierror' : ''">
                    <div *ngIf="showerror==='cocktailname'" class="error">{{error}}</div>
                </div>
                <div class="formgroup">
                    <label for="iname">Ingredient Name: </label>
                    <input autocomplete="off" id="iname" type="text" formControlName="ingredientname"
                        (focus)="disable('ingredientname')" (blur)="enable('ingredientname')"
                        [ngClass]="showerror==='ingredientname' ? 'ierror' : ''">

                    <div *ngIf="showerror==='ingredientname'" class="error">{{error}}</div>

                </div>
            </div>

            <div>
                <label for="cletter">Cocktail Letter:
                    <div style="margin-left: .5em; cursor:pointer"
                        (click)="plus=!plus; plus ? (!!formdata.get('cocktailletter')?.value ? '': enable('cocktailletter')):disable('cocktailletter')"
                        [ngClass]="{'plusdisabled' : formdata.get('cocktailletter')?.disabled || (table === true && dbutton === true)}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="plus" width="20" height="20"
                            viewBox="0 0 160 160" [ngClass]="plus ? '' : 'minus'">
                            <rect class="vertical-line" x="70" width="20" height="160" />
                            <rect class="horizontal-line" y="70" width="160" height="20" />
                        </svg>
                    </div>
                </label>
                <div *ngIf="showerror==='cocktailletter'" class="error">{{error}}</div>
                <div class="tagcontainer" *ngIf="!plus">
                    <div class="tag" *ngFor="let letter of alphabet" (click)="clicktag(letter)"
                        [ngClass]="{'selected': formdata.get('cocktailletter')?.value===letter}">
                        {{letter}}
                    </div>
                </div>
                <div class="tag selected" *ngIf="!!formdata.get('cocktailletter')?.value && plus"
                    (click)="formdata.get('cocktailletter')?.setValue(''); enable('cocktailletter')"
                    [ngClass]="{'dis': (table === true && dbutton === true)}">
                    {{formdata.get('cocktailletter')?.value}}
                </div>
            </div>

            <div>
                <label for="cletter">Category:
                    <div style="margin-left: .5em; cursor:pointer"
                        (click)="plusc=!plusc; plusc ? (!!formdata.get('categoryname')?.value ? '': enable('categoryname')):disable('categoryname')"
                        [ngClass]="{'plusdisabled' : formdata.get('categoryname')?.disabled || (table === true && dbutton === true)}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="plus" width="20" height="20"
                            viewBox="0 0 160 160" [ngClass]="plusc ? '' : 'minus'">
                            <rect class="vertical-line" x="70" width="20" height="160" />
                            <rect class="horizontal-line" y="70" width="160" height="20" />
                        </svg>
                    </div>
                </label>
                <div *ngIf="showerror==='categoryname'" class="error">{{error}}</div>
                <div class="tagcontainer" *ngIf="!plusc">
                    <div class="tagcat" *ngFor="let category of categories" (click)="clicktagc(category.name)"
                        [ngClass]="{'selected': formdata.get('categoryname')?.value===category.name}">
                        {{category.name}}
                    </div>
                </div>
                <div class="tagcat selected" *ngIf="!!formdata.get('categoryname')?.value && plusc"
                    (click)="formdata.get('categoryname')?.setValue(''); enable('categoryname')"
                    [ngClass]="{'dis': (table === true && dbutton === true)}">
                    {{formdata.get('categoryname')?.value}}
                </div>
            </div>

            <div class="inline">
                <button type="submit" [ngClass]="dbutton ? 'dis': ''">SEARCH</button>
                <button type="reset" (click)="enable(''); table = false; dbutton=true">CANCEL</button>
            </div>
        </form>

    </div>
    <!-- body -->

    <app-table *ngIf="table" [letter]="formdata.get('cocktailletter')?.value!"></app-table>
</div>