<div *ngIf="!!cocktail, else nococktail" class="wrapper">
    <div class="left">
        <div style="display: flex; gap: 2em; align-items: center;">
            <h1 style="margin: 0;" class="title">{{cocktail.name}}</h1>
            <div class="tag">{{cocktail.category}}</div>
        </div>
        <div>Alchool grade: <span>{{cocktail.type}}</span></div>
        <div>Suggested Glass: <span>{{cocktail.glass}}</span></div>
        <div class="recipe">
            <img src="../../../assets/paper.png" alt="" id="paper">
            <ul>
                <ng-container *ngFor="let ingredient of cocktail.ingredients">
                    <li *ngIf="!!ingredient.name">
                        {{ingredient.name}} {{ingredient.measure}}
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
    <div class="right">
        <img src="{{cocktail['image']}}" alt="picture of {{cocktail.name}}" id="drink">
        <div class="recipesmall">
            <img src="../../../assets/paper.png" alt="" id="papersmall">
            <ul>
                <ng-container *ngFor="let ingredient of cocktail.ingredients">
                    <li *ngIf="!!ingredient.name">
                        {{ingredient.name}} {{ingredient.measure}}
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</div>

<ng-template #nococktail>
    NO COCKTAIL HAS BEEN SELECTED!<br />
    go back <span routerLink="/" style="cursor: pointer;">HOME</span>

</ng-template>